In [1]:
# importamos la pandas para poder trabajar en la lecci칩n
import pandas as pd

**Dataframe a partir de un diccionario de listas**

In [2]:
# definimos un diccionario que luego convertiremos a DataFrame. Recordemos que esta era la forma que utilizamos en las lecciones del m칩dulo 2 de web scraping
data_diccionario = {
    'Nombre': ['Ana', 'Juan', 'Mar칤a', 'Pedro'],
    'Edad': [25, 30, 28, 35],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

# convertimos el diccionario en DataFrame usando el m칠todo 'pd.DataFrame'
df_diccionario = pd.DataFrame(data_diccionario)

# mostramos el DataFrame. Recordad que para ver las 5 primeras filas usaremos el m칠todo '.head()' 
df_diccionario.head()

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  Mar칤a    28   Valencia
3  Pedro    35    Sevilla

**Dataframe a partir de una lista de diccionarios**

In [3]:
# definimos una lista de diccionarios que luego usaremos para convertir en DataFrame
data_lista = [
    {'Nombre': 'Ana', 'Edad': 25, 'Ciudad': 'Madrid'},
    {'Nombre': 'Juan', 'Edad': 30, 'Ciudad': 'Barcelona'},
    {'Nombre': 'Mar칤a', 'Edad': 28, 'Ciudad': 'Valencia'},
    {'Nombre': 'Pedro', 'Edad': 35, 'Ciudad': 'Sevilla'}
]

# usamos el m칠todo 'pd.DataFrame' para convertir la lista de diccionarios a DataFrame
df_lista = pd.DataFrame(data_lista)

# mostramos el DataFrame, en este caso usaremos el m칠todo '.tail()' para mostrar las 칰ltimas 5 filas. 
df_lista.tail()

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  Mar칤a    28   Valencia
3  Pedro    35    Sevilla

## Apertura de ficheros en Pandas

En Pandas hay varios m칠todos disponibles para abrir distintos tipos de archivos. Algunos de los m칠todos m치s comunes para leer diferentes tipos de archivos en Pandas son los siguientes::

1. `pd.read_csv`.

2. `pd.read_excel`

3. `pd.read_json`

4. `pd.read_pickle`

## `pd.read_csv()`

La sintaxis b치sica de `pd.read_csv` es la siguiente:

```python
pd.read_csv(ruta_al_fichero , sep=',', delimiter=None, header='infer', names=None, index_col=None, dtype=None)
```

Donde:
- `ruta_al_fichero`: Es la ruta del archivo CSV que deseas leer.

- `sep` (opcional): Es el separador utilizado en el archivo CSV para separar los valores. Por defecto, es una coma (',').

- `delimiter` (opcional): Es un alias para `sep`. Puedes usar `delimiter` en lugar de `sep` si prefieres.

- `header` (opcional): Indica la fila del archivo CSV que se utilizar치 como encabezado de columnas. Puede tener los siguientes valores:
  - `None`: No hay encabezado y los datos se leer치n sin nombres de columna.
  - `'infer'`: Intentar치 inferir autom치ticamente los nombres de columna del archivo.
  - Un n칰mero *integer* que especifica la fila del archivo que se utilizar치 como encabezado de columna (por ejemplo, `header=0`).


- `names` (opcional): Es una lista opcional de nombres para las columnas. Si se proporciona, reemplazar치 los nombres inferidos o los nombres de columna del archivo.

- `index_col` (opcional): Especifica la columna (o columnas) que se utilizar치 como 칤ndice del DataFrame resultante. Puede ser un n칰mero *integer*, una cadena con el nombre de la columna o una lista de columnas.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

Estos son solo algunos de los par치metros m치s comunes utilizados en `pd.read_csv`. La funci칩n `pd.read_csv` tambi칠n admite muchos otros par치metros, como `skiprows`, `na_values`, `parse_dates` y m치s. Siempre podemos consultar la documentaci칩n oficial de este m칠todo [aqu칤](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) para obtener informaci칩n m치s detallada sobre estos par치metros y sus opciones.

In [20]:
df_jobs = pd.read_csv("jobs.csv")
df_jobs.head(1)

,id,title,country,location,company,date,description,company_link,experience,keywords
0,1,Frontend Developer,mexico,"Hacienda San Pablo, M칠xico, Mexico",Vox Feed,2019-08-18,Passion for building interfaces that bring the...,NaN,2,web developer

Como la propia definici칩n indica, nuestras columnas deben ir separadas por comas. A veces, puede ocurrir que no vengan separados por comas. Como en el ejemplo que vemos a continuaci칩n:

In [21]:
df_aire = pd.read_csv("aire.csv")
df_aire.head(1)

  provincia;municipio;estacion;magnitud;punto_muestreo;ano;mes;dia;h01;v01;h02;v02;h03;v03;h04;v04;h05;v05;h06;v06;h07;v07;h08;v08;h09;v09;h10;v10;h11;v11;h12;v12;h13;v13;h14;v14;h15;v15;h16;v16;h17;v17;h18;v18;h19;v19;h20;v20;h21;v21;h22;v22;h23;v23;h24;v24
0  28;102;1;1;28102001_1_38;2022;1;30;3;T;3;T;3;T...

Oh oh... Algo ha salido mal... Si nos fijamos nuestras columnas est치n separadas por `;`. 쮺칩mo podemos solucionar esto? 

> Usando el par치metro `sep` de `pd.read_csv` donde tendremos que especificar por qu칠 est치n separadas mis columnas.

In [22]:
df_aire = pd.read_csv("aire.csv", sep = ";")
df_aire.head(1)

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
0,28,102,1,1,28102001_1_38,2022,1,30,3.0,T,...,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N

## `pd.read_excel()`

La sintaxis b치sica de `pd.read_excel` es la siguiente:

```python
pd.read_excel(ruta_al_fichero, sheet_name=0, header=0, names=None, index_col=None, dtype=None)
```

Donde:
- `ruta_al_fichero`:  Es el nombre del archivo o la ruta de Excel que deseas leer. 

- `sheet_name` (opcional): Indica la hoja o hojas del archivo Excel que deseas leer. Puede tener los siguientes valores:

  - Un n칰mero *integer* que especifica el 칤ndice de la hoja (por ejemplo, `sheet_name=0` para la primera hoja).

  - Un nombre de hoja como una cadena (por ejemplo, `sheet_name='Sheet1'`).

  - Una lista de nombres de hojas para leer varias hojas (por ejemplo, `sheet_name=['Sheet1', 'Sheet2']`).

- `header` (opcional): Indica la fila del archivo Excel que se utilizar치 como encabezado de columnas. Puede tener los siguientes valores:

  - `None`: No hay encabezado y los datos se leer치n sin nombres de columna.

  - Un n칰mero *integer* que especifica la fila del archivo que se utilizar치 como encabezado de columna (por ejemplo, `header=0`).

- `names` (opcional): Es una lista opcional de nombres para las columnas. Si se proporciona, reemplazar치 los nombres inferidos o los nombres de columna del archivo.

- `index_col` (opcional): Especifica la columna (o columnas) que se utilizar치 como 칤ndice del DataFrame resultante. Puede ser un n칰mero *integer*, una cadena con el nombre de la columna o una lista de columnas.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

Adem치s de estos par치metros, `pd.read_excel` tambi칠n admite otros par치metros opcionales, como `skiprows`, `na_values`, `usecols` y m치s. Estos par치metros nos permiten personalizar a칰n m치s la lectura de archivos Excel seg칰n tus necesidades. Al igual que en el m칠todo `pd.read_csv()`, podemos  consultar la [documentaci칩n oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) para obtener informaci칩n m치s detallada sobre estos par치metros y sus opciones.

In [24]:
df_xlsx = pd.read_excel("espacios_protegidos.xlsx", sheet_name=0)
df_xlsx.head()

,espacio_prot_categoria,espacio_prot_figura,espacio_prot_nombre,espacio_prot_superficie_ha,espacio_prot_fecha_declaracion,espacio_prot_normativa,espacio_prot_informacion_web
0,츼reas protegidas por instrumentos internacionales,Reserva de la Biosfera,"Cuencas Altas de los r칤os Manzanares, Lozoya y...",105655.000,1992-11-09,Normativa 츼reas protegidas por instrumentos in...,Reserva de la Biosfera Cuencas Altas de los r칤...
1,츼reas protegidas por instrumentos internacionales,Reserva de la Biosfera,Sierra del Rinc칩n,15231.000,2005-06-29,Normativa 츼reas protegidas por instrumentos in...,Reserva de la Biosfera Sierra del Rinc칩n
2,츼reas protegidas por instrumentos internacionales,Humedal de Importancia Internacional (RAMSAR),Humedales del Macizo de Pe침alara,487.198,2005-12-16,Normativa 츼reas protegidas por instrumentos in...,Humedales Ramsar
3,Espacios Protegidos Red Natura 2000,Zona de Especial Protecci칩n para las Aves,Monte de El Pardo,15298.670,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000
4,Espacios Protegidos Red Natura 2000,Zona de Especial Protecci칩n para las Aves,Soto de Vi침uelas,3071.890,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000

游뚿丘멆잺 **NOTA** Puede que al ejecutar este l칤nea de c칩digo os salga el siguiente error: 

![error](https://github.com/Adalab/data_imagenes/blob/main/Pandas/error_excel.png?raw=true)

**DON'T PANIC!!!** Lo 칰nico que tendre칤s que hacer es importaros `openpyxl`. 쮺칩mo? 

- Nos vamos a la terminal y ejecutamos el siguiente c칩digo: 

```
pip3 install openpyxl
```

o 

```
pip install openpyxl
```

## `pd.read_json()`

La sintaxis b치sica de `pd.read_json` es la siguiente:

```python
pd.read_json(ruta_al_fichero, orient=None, typ='frame', dtype=True, convert_axes=True, convert_dates=True, keep_default_dates=True, numpy=False, precise_float=False, date_unit=None, encoding=None, lines=False)
```

Donde:
- `ruta_al_fichero`: Es la ruta del archivo JSON que deseas leer.

- `orient` (opcional): Especifica la orientaci칩n del archivo JSON. Puede tener los siguientes valores:

  - `'columns'` (por defecto): Se espera que el archivo JSON tenga un formato de columna.

  - `'index'`: Se espera que el archivo JSON tenga un formato de 칤ndice.

  - `'records'`: Se espera que el archivo JSON tenga un formato de registros.

  - `'split'`: Se espera que el archivo JSON tenga un formato dividido.

  - `'values'`: Se espera que el archivo JSON contenga solo valores sin ninguna etiqueta de columna o 칤ndice.

- `typ` (opcional): Indica el tipo de objeto a crear. Puede tener los siguientes valores:

  - `'frame'` (por defecto): Crea un objeto DataFrame.

  - `'series'`: Crea un objeto Series.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

- `convert_axes` (opcional): Indica si las etiquetas de los ejes deben convertirse en 칤ndices o nombres de columna. Por defecto, es `True`.

- `convert_dates` (opcional): Indica si se deben convertir las cadenas de fecha y hora en objetos de fecha y hora. Por defecto, es `True`.

- `keep_default_dates` (opcional): Especifica si se deben mantener las fechas predeterminadas al convertir cadenas de fecha y hora. Por defecto, es `True`.

- `numpy` (opcional): Indica si los datos deben devolverse como una matriz NumPy en lugar de un objeto DataFrame. Por defecto, es `False`.

- `precise_float` (opcional): Indica si se deben utilizar n칰meros de punto *float* precisos en lugar de valores de punto *float* nativos de Python. Por defecto, es `False`.

- `date_unit` (opcional): Especifica la unidad de fecha y hora si se deben convertir las cadenas de fecha y hora. Puede ser `'s'` para segundos o `'ms'` para milisegundos.

- `encoding` (opcional): Permite especificar la codificaci칩n del archivo JSON si no se puede inferir autom치ticamente.

- `lines` (opcional): Indica si el archivo JSON contiene m칰ltiples objetos JSON en l칤neas separadas en lugar de un solo objeto JSON.

Estos son solo algunos de los par치metros m치s comunes utilizados en `pd.read_json`. La funci칩n `pd.read_json` tambi칠n admite otros par치metros opcionales, como `orient`, `date_format`, `numpy`, `compression` y m치s. Podemos consultar la [documentaci칩n oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html) para obtener informaci칩n m치s detallada sobre estos par치metros y sus opciones.

In [25]:
df_residuos = pd.read_json("residuos.json")
df_residuos.head()

                                                data
0  {'residuos_pelig_cantidad_ton': 23476.42, 'res...
1  {'residuos_pelig_cantidad_ton': 1927.25, 'resi...
2  {'residuos_pelig_cantidad_ton': 25333.54, 'res...
3  {'residuos_pelig_cantidad_ton': 22060.07, 'res...
4  {'residuos_pelig_cantidad_ton': 13109.74, 'res...

In [26]:
# esto nos devuelve un DataFrame que esta lleno de diccionarios!
# sin embargo, lo podemos convertir f치cilmente a algo m치s legible usando la siguiente sintaxis
# este c칩digo no es necesario que lo entendamos ahora, m치s adelante seg칰n avancen las lecciones lo iremos entendiendo mejor!

df_residuos2 = df_residuos['data'].apply(pd.Series)
df_residuos2.head()

,residuos_pelig_cantidad_ton,residuos_pelig_a침o,residuos_pelig_opcion_gestion,residuos_pelig_tratamiento
0,23476.42,2012,Reciclado,Recuperaci칩n de disolventes
1,1927.25,2012,Reciclado,Recuperaci칩n de metales
2,25333.54,2012,Reciclado,Regeneraci칩n de aceite
3,22060.07,2012,Tratamiento previo a otras formas de valorizaci칩n,Trituraci칩n previa a valorizaci칩n de bater칤as
4,13109.74,2012,Tratamiento previo a otras formas de valorizaci칩n,Operaciones previas a valorizaci칩n de RAEE

## `pd.read_pickle`


**쯈u칠 es Pickle exactamente?**

Un archivo de tipo pickle es un archivo binario en Python que se utiliza para serializar y deserializar objetos,  su acr칩nimo viene de *Python Pickle Format* que fue desarrollado exclusivamente para Python. Leyendo solo esto podemos seguir sin tener claro que es un archivo de tipo pickle. Expliquemoslo de una forma m치s sencilla. Imagina que tienes un mont칩n de objetos especiales en tu habitaci칩n, como juguetes, libros, peluches, etc. Ahora, supongamos que quieres guardar todos estos objetos en una caja para poder llevarlos contigo o almacenarlos de manera segura.

Aqu칤 es donde entra en juego un archivo pickle. Es como una caja especial que te permite guardar todos estos objetos en ella. Pero, en lugar de objetos f칤sicos, el archivo pickle puede almacenar objetos digitales, como datos, n칰meros, listas, diccionarios y m치s.

El archivo pickle es como una caja m치gica que puede guardar todos tus objetos digitales de Python. Cuando guardas estos objetos en un archivo pickle, se convierten en una forma especial que se puede almacenar en tu computadora o enviar a alguien m치s.

La sintaxis b치sica de `pd.read_pickle` es la siguiente:

```python
pd.read_pickle(ruta_al_fichero, compression='infer')
```

Donde:

- `filepath_or_buffer`: Es la ruta del archivo pickle que deseas leer.

- `compression` (opcional): Es un par치metro opcional que indica el tipo de compresi칩n utilizado en el archivo pickle. Por defecto, es `'infer'`, lo que significa que la biblioteca intentar치 inferir autom치ticamente el tipo de compresi칩n. Puedes especificar un tipo de compresi칩n expl칤citamente, como `'gzip'` o `'bz2'`, si el archivo pickle est치 comprimido.

In [27]:
df_pkl = pd.read_pickle("paises_capitales.pkl")
df_pkl

{'Colombia': 'Bogot치', 'Ecuador': 'Quito', 'Argentina': 'Buenos'}