In [1]:
# importamos la pandas para poder trabajar en la lección
import pandas as pd

**Dataframe a partir de un diccionario de listas**

In [2]:
# definimos un diccionario que luego convertiremos a DataFrame. Recordemos que esta era la forma que utilizamos en las lecciones del módulo 2 de web scraping
data_diccionario = {
    'Nombre': ['Ana', 'Juan', 'María', 'Pedro'],
    'Edad': [25, 30, 28, 35],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

# convertimos el diccionario en DataFrame usando el método 'pd.DataFrame'
df_diccionario = pd.DataFrame(data_diccionario)

# mostramos el DataFrame. Recordad que para ver las 5 primeras filas usaremos el método '.head()' 
df_diccionario.head()

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  María    28   Valencia
3  Pedro    35    Sevilla

**Dataframe a partir de una lista de diccionarios**

In [3]:
# definimos una lista de diccionarios que luego usaremos para convertir en DataFrame
data_lista = [
    {'Nombre': 'Ana', 'Edad': 25, 'Ciudad': 'Madrid'},
    {'Nombre': 'Juan', 'Edad': 30, 'Ciudad': 'Barcelona'},
    {'Nombre': 'María', 'Edad': 28, 'Ciudad': 'Valencia'},
    {'Nombre': 'Pedro', 'Edad': 35, 'Ciudad': 'Sevilla'}
]

# usamos el método 'pd.DataFrame' para convertir la lista de diccionarios a DataFrame
df_lista = pd.DataFrame(data_lista)

# mostramos el DataFrame, en este caso usaremos el método '.tail()' para mostrar las últimas 5 filas. 
df_lista.tail()

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  María    28   Valencia
3  Pedro    35    Sevilla

## Apertura de ficheros en Pandas

En Pandas hay varios métodos disponibles para abrir distintos tipos de archivos. Algunos de los métodos más comunes para leer diferentes tipos de archivos en Pandas son los siguientes::

1. `pd.read_csv`.

2. `pd.read_excel`

3. `pd.read_json`

4. `pd.read_pickle`

## `pd.read_csv()`

La sintaxis básica de `pd.read_csv` es la siguiente:

```python
pd.read_csv(ruta_al_fichero , sep=',', delimiter=None, header='infer', names=None, index_col=None, dtype=None)
```

Donde:
- `ruta_al_fichero`: Es la ruta del archivo CSV que deseas leer.

- `sep` (opcional): Es el separador utilizado en el archivo CSV para separar los valores. Por defecto, es una coma (',').

- `delimiter` (opcional): Es un alias para `sep`. Puedes usar `delimiter` en lugar de `sep` si prefieres.

- `header` (opcional): Indica la fila del archivo CSV que se utilizará como encabezado de columnas. Puede tener los siguientes valores:
  - `None`: No hay encabezado y los datos se leerán sin nombres de columna.
  - `'infer'`: Intentará inferir automáticamente los nombres de columna del archivo.
  - Un número *integer* que especifica la fila del archivo que se utilizará como encabezado de columna (por ejemplo, `header=0`).


- `names` (opcional): Es una lista opcional de nombres para las columnas. Si se proporciona, reemplazará los nombres inferidos o los nombres de columna del archivo.

- `index_col` (opcional): Especifica la columna (o columnas) que se utilizará como índice del DataFrame resultante. Puede ser un número *integer*, una cadena con el nombre de la columna o una lista de columnas.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

Estos son solo algunos de los parámetros más comunes utilizados en `pd.read_csv`. La función `pd.read_csv` también admite muchos otros parámetros, como `skiprows`, `na_values`, `parse_dates` y más. Siempre podemos consultar la documentación oficial de este método [aquí](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) para obtener información más detallada sobre estos parámetros y sus opciones.

In [20]:
df_jobs = pd.read_csv("jobs.csv")
df_jobs.head(1)

,id,title,country,location,company,date,description,company_link,experience,keywords
0,1,Frontend Developer,mexico,"Hacienda San Pablo, México, Mexico",Vox Feed,2019-08-18,Passion for building interfaces that bring the...,NaN,2,web developer

Como la propia definición indica, nuestras columnas deben ir separadas por comas. A veces, puede ocurrir que no vengan separados por comas. Como en el ejemplo que vemos a continuación:

In [21]:
df_aire = pd.read_csv("aire.csv")
df_aire.head(1)

  provincia;municipio;estacion;magnitud;punto_muestreo;ano;mes;dia;h01;v01;h02;v02;h03;v03;h04;v04;h05;v05;h06;v06;h07;v07;h08;v08;h09;v09;h10;v10;h11;v11;h12;v12;h13;v13;h14;v14;h15;v15;h16;v16;h17;v17;h18;v18;h19;v19;h20;v20;h21;v21;h22;v22;h23;v23;h24;v24
0  28;102;1;1;28102001_1_38;2022;1;30;3;T;3;T;3;T...

Oh oh... Algo ha salido mal... Si nos fijamos nuestras columnas están separadas por `;`. ¿Cómo podemos solucionar esto? 

> Usando el parámetro `sep` de `pd.read_csv` donde tendremos que especificar por qué están separadas mis columnas.

In [22]:
df_aire = pd.read_csv("aire.csv", sep = ";")
df_aire.head(1)

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
0,28,102,1,1,28102001_1_38,2022,1,30,3.0,T,...,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N

## `pd.read_excel()`

La sintaxis básica de `pd.read_excel` es la siguiente:

```python
pd.read_excel(ruta_al_fichero, sheet_name=0, header=0, names=None, index_col=None, dtype=None)
```

Donde:
- `ruta_al_fichero`:  Es el nombre del archivo o la ruta de Excel que deseas leer. 

- `sheet_name` (opcional): Indica la hoja o hojas del archivo Excel que deseas leer. Puede tener los siguientes valores:

  - Un número *integer* que especifica el índice de la hoja (por ejemplo, `sheet_name=0` para la primera hoja).

  - Un nombre de hoja como una cadena (por ejemplo, `sheet_name='Sheet1'`).

  - Una lista de nombres de hojas para leer varias hojas (por ejemplo, `sheet_name=['Sheet1', 'Sheet2']`).

- `header` (opcional): Indica la fila del archivo Excel que se utilizará como encabezado de columnas. Puede tener los siguientes valores:

  - `None`: No hay encabezado y los datos se leerán sin nombres de columna.

  - Un número *integer* que especifica la fila del archivo que se utilizará como encabezado de columna (por ejemplo, `header=0`).

- `names` (opcional): Es una lista opcional de nombres para las columnas. Si se proporciona, reemplazará los nombres inferidos o los nombres de columna del archivo.

- `index_col` (opcional): Especifica la columna (o columnas) que se utilizará como índice del DataFrame resultante. Puede ser un número *integer*, una cadena con el nombre de la columna o una lista de columnas.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

Además de estos parámetros, `pd.read_excel` también admite otros parámetros opcionales, como `skiprows`, `na_values`, `usecols` y más. Estos parámetros nos permiten personalizar aún más la lectura de archivos Excel según tus necesidades. Al igual que en el método `pd.read_csv()`, podemos  consultar la [documentación oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) para obtener información más detallada sobre estos parámetros y sus opciones.

In [24]:
df_xlsx = pd.read_excel("espacios_protegidos.xlsx", sheet_name=0)
df_xlsx.head()

,espacio_prot_categoria,espacio_prot_figura,espacio_prot_nombre,espacio_prot_superficie_ha,espacio_prot_fecha_declaracion,espacio_prot_normativa,espacio_prot_informacion_web
0,Áreas protegidas por instrumentos internacionales,Reserva de la Biosfera,"Cuencas Altas de los ríos Manzanares, Lozoya y...",105655.000,1992-11-09,Normativa Áreas protegidas por instrumentos in...,Reserva de la Biosfera Cuencas Altas de los rí...
1,Áreas protegidas por instrumentos internacionales,Reserva de la Biosfera,Sierra del Rincón,15231.000,2005-06-29,Normativa Áreas protegidas por instrumentos in...,Reserva de la Biosfera Sierra del Rincón
2,Áreas protegidas por instrumentos internacionales,Humedal de Importancia Internacional (RAMSAR),Humedales del Macizo de Peñalara,487.198,2005-12-16,Normativa Áreas protegidas por instrumentos in...,Humedales Ramsar
3,Espacios Protegidos Red Natura 2000,Zona de Especial Protección para las Aves,Monte de El Pardo,15298.670,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000
4,Espacios Protegidos Red Natura 2000,Zona de Especial Protección para las Aves,Soto de Viñuelas,3071.890,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000

🚨⚠️ **NOTA** Puede que al ejecutar este línea de código os salga el siguiente error: 

![error](https://github.com/Adalab/data_imagenes/blob/main/Pandas/error_excel.png?raw=true)

**DON'T PANIC!!!** Lo único que tendreís que hacer es importaros `openpyxl`. ¿Cómo? 

- Nos vamos a la terminal y ejecutamos el siguiente código: 

```
pip3 install openpyxl
```

o 

```
pip install openpyxl
```

## `pd.read_json()`

La sintaxis básica de `pd.read_json` es la siguiente:

```python
pd.read_json(ruta_al_fichero, orient=None, typ='frame', dtype=True, convert_axes=True, convert_dates=True, keep_default_dates=True, numpy=False, precise_float=False, date_unit=None, encoding=None, lines=False)
```

Donde:
- `ruta_al_fichero`: Es la ruta del archivo JSON que deseas leer.

- `orient` (opcional): Especifica la orientación del archivo JSON. Puede tener los siguientes valores:

  - `'columns'` (por defecto): Se espera que el archivo JSON tenga un formato de columna.

  - `'index'`: Se espera que el archivo JSON tenga un formato de índice.

  - `'records'`: Se espera que el archivo JSON tenga un formato de registros.

  - `'split'`: Se espera que el archivo JSON tenga un formato dividido.

  - `'values'`: Se espera que el archivo JSON contenga solo valores sin ninguna etiqueta de columna o índice.

- `typ` (opcional): Indica el tipo de objeto a crear. Puede tener los siguientes valores:

  - `'frame'` (por defecto): Crea un objeto DataFrame.

  - `'series'`: Crea un objeto Series.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

- `convert_axes` (opcional): Indica si las etiquetas de los ejes deben convertirse en índices o nombres de columna. Por defecto, es `True`.

- `convert_dates` (opcional): Indica si se deben convertir las cadenas de fecha y hora en objetos de fecha y hora. Por defecto, es `True`.

- `keep_default_dates` (opcional): Especifica si se deben mantener las fechas predeterminadas al convertir cadenas de fecha y hora. Por defecto, es `True`.

- `numpy` (opcional): Indica si los datos deben devolverse como una matriz NumPy en lugar de un objeto DataFrame. Por defecto, es `False`.

- `precise_float` (opcional): Indica si se deben utilizar números de punto *float* precisos en lugar de valores de punto *float* nativos de Python. Por defecto, es `False`.

- `date_unit` (opcional): Especifica la unidad de fecha y hora si se deben convertir las cadenas de fecha y hora. Puede ser `'s'` para segundos o `'ms'` para milisegundos.

- `encoding` (opcional): Permite especificar la codificación del archivo JSON si no se puede inferir automáticamente.

- `lines` (opcional): Indica si el archivo JSON contiene múltiples objetos JSON en líneas separadas en lugar de un solo objeto JSON.

Estos son solo algunos de los parámetros más comunes utilizados en `pd.read_json`. La función `pd.read_json` también admite otros parámetros opcionales, como `orient`, `date_format`, `numpy`, `compression` y más. Podemos consultar la [documentación oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html) para obtener información más detallada sobre estos parámetros y sus opciones.

In [25]:
df_residuos = pd.read_json("residuos.json")
df_residuos.head()

                                                data
0  {'residuos_pelig_cantidad_ton': 23476.42, 'res...
1  {'residuos_pelig_cantidad_ton': 1927.25, 'resi...
2  {'residuos_pelig_cantidad_ton': 25333.54, 'res...
3  {'residuos_pelig_cantidad_ton': 22060.07, 'res...
4  {'residuos_pelig_cantidad_ton': 13109.74, 'res...

In [26]:
# esto nos devuelve un DataFrame que esta lleno de diccionarios!
# sin embargo, lo podemos convertir fácilmente a algo más legible usando la siguiente sintaxis
# este código no es necesario que lo entendamos ahora, más adelante según avancen las lecciones lo iremos entendiendo mejor!

df_residuos2 = df_residuos['data'].apply(pd.Series)
df_residuos2.head()

,residuos_pelig_cantidad_ton,residuos_pelig_año,residuos_pelig_opcion_gestion,residuos_pelig_tratamiento
0,23476.42,2012,Reciclado,Recuperación de disolventes
1,1927.25,2012,Reciclado,Recuperación de metales
2,25333.54,2012,Reciclado,Regeneración de aceite
3,22060.07,2012,Tratamiento previo a otras formas de valorización,Trituración previa a valorización de baterías
4,13109.74,2012,Tratamiento previo a otras formas de valorización,Operaciones previas a valorización de RAEE

## `pd.read_pickle`


**¿Qué es Pickle exactamente?**

Un archivo de tipo pickle es un archivo binario en Python que se utiliza para serializar y deserializar objetos,  su acrónimo viene de *Python Pickle Format* que fue desarrollado exclusivamente para Python. Leyendo solo esto podemos seguir sin tener claro que es un archivo de tipo pickle. Expliquemoslo de una forma más sencilla. Imagina que tienes un montón de objetos especiales en tu habitación, como juguetes, libros, peluches, etc. Ahora, supongamos que quieres guardar todos estos objetos en una caja para poder llevarlos contigo o almacenarlos de manera segura.

Aquí es donde entra en juego un archivo pickle. Es como una caja especial que te permite guardar todos estos objetos en ella. Pero, en lugar de objetos físicos, el archivo pickle puede almacenar objetos digitales, como datos, números, listas, diccionarios y más.

El archivo pickle es como una caja mágica que puede guardar todos tus objetos digitales de Python. Cuando guardas estos objetos en un archivo pickle, se convierten en una forma especial que se puede almacenar en tu computadora o enviar a alguien más.

La sintaxis básica de `pd.read_pickle` es la siguiente:

```python
pd.read_pickle(ruta_al_fichero, compression='infer')
```

Donde:

- `filepath_or_buffer`: Es la ruta del archivo pickle que deseas leer.

- `compression` (opcional): Es un parámetro opcional que indica el tipo de compresión utilizado en el archivo pickle. Por defecto, es `'infer'`, lo que significa que la biblioteca intentará inferir automáticamente el tipo de compresión. Puedes especificar un tipo de compresión explícitamente, como `'gzip'` o `'bz2'`, si el archivo pickle está comprimido.

In [27]:
df_pkl = pd.read_pickle("paises_capitales.pkl")
df_pkl

{'Colombia': 'Bogotá', 'Ecuador': 'Quito', 'Argentina': 'Buenos'}