## Pair EDA

In [3]:
import pandas as pd
import numpy as np

# Configuración

pd.set_option('display.max_columns', None)

In [6]:
# 1. Abrid el fichero de rating-and-performance con el método que sea más correcto.
df = pd.read_csv("rating-and-performance.csv", index_col = 0)

In [ ]:
# 2. Mostrad las 10 últimas filas.
df.tail(10)

In [ ]:
# 3. Mostrad 5 filas aleatorias del DataFrame.
df.sample(5)

In [9]:
# 4. ¿Cuántas filas y columnas tenemos en el DataFrame?
df.shape

(1573, 43)

In [10]:
# 5. ¿Cuáles son los nombres de las columnas del DataFrame?
df.columns

Index(['title', 'title_orig', 'price', 'retail_price', 'currency_buyer',
       'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
       'rating_five_count', 'rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count', 'badges_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'product_color', 'product_variation_size_id',
       'product_variation_inventory', 'shipping_option_name',
       'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
       'inventory_total', 'has_urgency_banner', 'urgency_text',
       'origin_country', 'merchant_title', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'merchant_has_profile_picture',
       'merchant_profile_picture', 'product_url', 'product_picture',
       'product_id', 'theme', 'crawl_month'],
      dtype='object')

In [16]:
# 6. Seleccionad solo las columnas de tipo categórico del DataFrame. 
# Después, mostrad los valores únicos y sus frecuencias para cada una 
# de las columnas seleccionadas.

print(df.select_dtypes(include='category'))

print(df['currency_buyer'].unique())

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1573 rows x 0 columns]
['EUR']

In [20]:
df['currency_buyer'].value_counts()

currency_buyer
EUR    1573
Name: count, dtype: int64

In [21]:
# 7. En el DataFrame tenemos dos columnas que parece que nos dan la misma 
# información "title" y "title_orig". Eliminad "title".

df.drop(columns='title', inplace=True)

In [23]:
# 8. ¿En que columnas tenemos valores nulos? Utilizad el método que más os guste.
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1573 entries, 0 to 1572
Data columns (total 42 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title_orig                    1573 non-null   object
 1   price                         1573 non-null   float64
 2   retail_price                  1573 non-null   int64
 3   currency_buyer                1573 non-null   object
 4   units_sold                    1573 non-null   int64
 5   uses_ad_boosts                1573 non-null   int64
 6   rating                        1573 non-null   float64
 7   rating_count                  1573 non-null   int64
 8   rating_five_count             1528 non-null   float64
 9   rating_four_count             1528 non-null   float64
 10  rating_three_count            1528 non-null   float64
 11  rating_two_count              1528 non-null   float64
 12  rating_one_count              1528 non-null   float64
 13  badges_count                  1573 non-null   int64
 14  badge_local_product           1573 non-null   int64
 15  badge_product_quality         1573 non-null   int64
 16  badge_fast_shipping           1573 non-null   int64
 17  tags                          1573 non-null   object
 18  product_color                 1532 non-null   object
 19  product_variation_size_id     1559 non-null   object
 20  product_variation_inventory   1573 non-null   int64
 21  shipping_option_name          1573 non-null   object
 22  shipping_option_price         1573 non-null   int64
 23  shipping_is_express           1573 non-null   int64
 24  countries_shipped_to          1573 non-null   int64
 25  inventory_total               1573 non-null   int64
 26  has_urgency_banner            473 non-null    float64
 27  urgency_text                  473 non-null    object
 28  origin_country                1556 non-null   object
 29  merchant_title                1573 non-null   object
 30  merchant_name                 1569 non-null   object
 31  merchant_info_subtitle        1572 non-null   object
 32  merchant_rating_count         1573 non-null   int64
 33  merchant_rating               1573 non-null   float64
 34  merchant_id                   1573 non-null   object
 35  merchant_has_profile_picture  1573 non-null   int64
 36  merchant_profile_picture      226 non-null    object
 37  product_url                   1573 non-null   object
 38  product_picture               1573 non-null   object
 39  product_id                    1573 non-null   object
 40  theme                         1573 non-null   object
 41  crawl_month                   1573 non-null   object
dtypes: float64(9), int64(15), object(18)
memory usage: 528.4+ KB

In [26]:
# 9. ¿Tenemos valores duplicados en el DataFrame?

df.duplicated().sum()

34

In [27]:
df.describe()

,price,retail_price,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,product_variation_inventory,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,merchant_rating_count,merchant_rating,merchant_has_profile_picture
count,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1528.000000,1528.000000,1528.000000,1528.000000,1528.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,473.0,1.573000e+03,1573.000000,1573.000000
mean,8.325372,23.288620,4339.005086,0.432931,3.820896,889.659250,442.263743,179.599476,134.549738,63.711387,95.735602,0.105531,0.018436,0.074380,0.012715,33.081373,2.345200,0.002543,40.456453,49.821360,1.0,2.649583e+04,4.032345,0.143675
std,3.932030,30.357863,9356.539302,0.495639,0.515374,1983.928834,980.203270,400.516231,311.690656,151.343933,214.075544,0.340709,0.134565,0.262472,0.112075,21.353137,1.024371,0.050379,20.301203,2.562799,0.0,7.847446e+04,0.204768,0.350871
min,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,6.000000,1.000000,1.0,0.000000e+00,2.333333,0.000000
25%,5.810000,7.000000,100.000000,0.000000,3.550000,24.000000,12.000000,5.000000,4.000000,2.000000,4.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2.000000,0.000000,31.000000,50.000000,1.0,1.987000e+03,3.917353,0.000000
50%,8.000000,10.000000,1000.000000,0.000000,3.850000,150.000000,79.000000,31.500000,24.000000,11.000000,20.000000,0.000000,0.000000,0.000000,0.000000,50.000000,2.000000,0.000000,40.000000,50.000000,1.0,7.936000e+03,4.040650,0.000000
75%,11.000000,26.000000,5000.000000,1.000000,4.110000,855.000000,413.500000,168.250000,129.250000,62.000000,94.000000,0.000000,0.000000,0.000000,0.000000,50.000000,3.000000,0.000000,43.000000,50.000000,1.0,2.456400e+04,4.161797,0.000000
max,49.000000,252.000000,100000.000000,1.000000,5.000000,20744.000000,11548.000000,4152.000000,3658.000000,2003.000000,2789.000000,3.000000,1.000000,1.000000,1.000000,50.000000,12.000000,1.000000,140.000000,50.000000,1.0,2.174765e+06,5.000000,1.000000